.navbar-collapse.collapse {
	display: block !important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right !important;
}

.header-container-large {
	height: 52px;
}

@media screen and (max-width: 768px) {
	.header-container-large{
		display:none;
	}
}


@media screen and (min-width: 768px) {
	.header-container-small{
		display:none;
	}
}
